/* ===== GLOBALS ===== */

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

#content-wrapper {
  background: #ffffff;
}

/* ===== HEADER/NAV ===== */

#navbar {
	display: block;
	height: 6.5rem;
	background: transparent;
	z-index: 222;
	padding-left: 20px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}


#navbar .left {
	float: left;
}

#navbar .links {
	float: right;
	margin-bottom: 0;
  margin: auto;
}

#navbar a {
	text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .3rem;
  padding-right: 1.5em;
	padding-left: 1.5em;
  line-height: 6.5rem;
  color: white;
	text-decoration: none;
}

#navbar .links a:last-child {

}

#navbar ul {
	list-style: none;
}

#navbar li, #navbar a {
	float: left;
	margin-bottom: 0;
}


/* ===== SPLASH ===== */

#splash {
	background: transparent;
}

#splash .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

#splash .content {
	color: white;
	text-align: center;
}

#splash .content h1 {
	font-size: 2.5em;
	letter-spacing: 0.3px;
	margin-bottom: 0.1em;
}

#splash .content h2 {
	font-size: 1.25em;
	letter-spacing: 0.3px;
}

/* ===== CONTENT SECTIONS ===== */

#about {
	margin-top: 2em;
	text-align: center;
}

#about h1 {
	font-size: 2em;
}

/* ===== REUSABLE CONFIGURATIONS ===== */


.vcenter-out {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.vcenter-mid {
	display: table-cell;
	vertical-align: middle;
}

.vcenter-inn {
	margin-left: auto;
	margin-right: auto;
}
