/*
Bootstrap media query values for reference
Extra small devices (phones, less than 768px)
No media query since this is the default in Bootstrap

Small devices (tablets)
@media (min-width: 768px) { ... }

Medium devices (desktops)
@media (min-width: 992px) { ... }

Large devices (large desktops)
@media (min-width: 1200px) { ... }
*/


/* ===== GLOBALS ===== */

body {
	font-size: 16px !important;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

#content-wrapper section {
	background: #ffffff;
}

.accent {
	color: #0097A7;
}

/* ===== HEADER/NAV ===== */

#navbar {
	display: block;
	position: fixed;
	z-index: 222;
	height: 6.5rem;
	width: 100%;
	background: transparent;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease
}

#navbar.opaque {
	background: #ffffff;
	border-bottom: 1px solid #dddddd;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease
}

@media (max-width: 768px) {
	#navbar .left {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 768px) {
	#navbar .left {
		float: left;
	}
}

@media (max-width: 768px) {
	#navbar .links {
		display: none;
		margin-bottom: 0;
	  margin: auto;
		background-color: #ffffff;
	}
}

@media (min-width: 768px) {
	#navbar .links {
		float: right;
		margin-bottom: 0;
	  margin: auto;
	}
}

#navbar .links a, #navbar a.home  {
	text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .4rem;
  padding-right: 1.5em;
	padding-left: 1.5em;
  line-height: 6.5rem;
  color: white;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease
}

#navbar.opaque a {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease
}

#navbar ul {
	list-style: none;
}

@media (max-width: 768px) {
	#navbar ul {
		list-style: none;
		padding: 0;
	}
}

@media (min-width: 768px) {
	#navbar li, #navbar a {
		float: left;
		margin-bottom: 0;
	}
}
@media (max-width: 768px) {
	#navbar li {
		padding-left: 1.5em;
		float: none;
	}
}

#nav-toggle {
	display: none;
	position: absolute;
	padding-top: 10px;
	top: 22px;
	right: 25px;
	width: 34px;
	height: 34px;
}

@media (max-width: 768px) {
	#nav-toggle {
		display: block;
	}
}

/* Three bars for mobile/small display navbar */
.threeBars:before {
	background-color: white;
	border-radius: 2px;
	height: 3px;
	width: 34px;
	position: absolute;
	display: block;
	content: '';
	top: -10px;
}
.threeBars {
	background-color: white;
	border-radius: 2px;
	height: 3px;
	width: 34px;
	position: absolute;
	display: block;
	content: '';
}
.threeBars:after {
	background-color: white;
	border-radius: 2px;
	height: 3px;
	width: 34px;
	position: absolute;
	display: block;
	content: '';
	bottom: -10px;
}
#navbar.opaque .threeBars:before {
	background-color: #939393;
}
#navbar.opaque .threeBars {
	background-color: #939393;
}
#navbar.opaque .threeBars:after {
	background-color: #939393;
}

/* ===== SPLASH ===== */

#splash {
	background: transparent;
}

#splash .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

#splash .content {
	color: white;
	text-align: center;
}

#splash .content h1 {
	font-size: 2em;
	letter-spacing: 0.3px;
	margin-bottom: 0.1em;
}

@media (min-width: 768px) {
	#splash .content h1 {
		font-size: 2.5em;
		letter-spacing: 0.3px;
		margin-bottom: 0.1em;
	}
}

#splash .content h2 {
	font-size: 1.0em;
	letter-spacing: 0.3px;
}

@media (min-width: 768px) {
	#splash .content h2 {
		font-size: 1.3em;
		letter-spacing: 0.3px;
	}
}

/* ===== CONTENT SECTIONS ===== */

#content-wrapper .section-title h1 {
	font-weight: bold;
	font-size: 1.7rem;
	margin-bottom: 2rem;
}

#content-wrapper section {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#about {
	text-align: center;
}

#about h2 {
	font-size: 1.5em;
}

@media (min-width: 768px) {
	#about h2 {
		font-size: 1.9em;
	}
}

#education {
	margin-top: 4em !important;
}

#education article,
#experience article {
	margin-bottom: 3rem;
}

.section-content h1 { /* Main Title */
	font-size: 1.9rem;
	margin-bottom: 0.5rem;
	letter-spacing: -0.06rem;
}

.section-content h2 { /* Sub Heading */
	font-size: 1.5rem;
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	font-style: italic;
	letter-spacing: 0;
}

.section-content p {
	color: rgb(90,90,90);
	margin-bottom: 1rem;
}

.date h1 {
	color: rgb(90,90,90);
	font-size: 1.3rem;
	padding-top: 0.2rem;
}

/* ===== FOOTER ===== */

#contact-wrapper {
	background-color: rgb(55, 55, 55);
	color: rgb(222, 222, 222);
	padding-top: 2em;
	padding-bottom: 3em;
	text-align: center;
}

#contact-wrapper h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.round-btn {
	display: inline-block;
	width: 7rem;
	height: 7rem;
	border-radius: 7rem;
	color: #fff;
	background-color: rgb(55, 55, 55);
	line-height: 6.9rem;
	text-align: center;
	text-decoration: none;
	margin: 1rem;
	font-size: 2.5rem;
}

.round-btn.nottouch:hover {
	color: #fff;
	text-decoration:none;
}
.round-btn.nottouch:focus {
	color: #fff;
	text-decoration:none;
	outline: none;
}

#email.nottouch:hover {
	background-color: #FF5252;
}

#email.touch {
	background-color: #FF5252;
}

#linkedin.nottouch:hover {
	background-color: #4875B4;
}

#linkedin.touch {
	background-color: #4875B4;
}

#github.nottouch:hover {
	background-color: #4C2A78;
}

#github.touch {
	background-color: #4C2A78;
}

#resume.nottouch:hover {
	background-color: #FF9800;
}

#resume.touch {
	background-color: #FF9800;
}


.xtooltip {
	position: relative;
	text-align: center;
}

.nottouch.xtooltip:hover:after {
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  color: #fff;
  content: attr(data-xtooltip);
	font-size: 1.3rem;
  position: absolute;
	height: 3rem;
	line-height: 3rem;
  z-index: 98;
	top: 8rem;
	pointer-events: none;
}

.nottouch.xtooltip:hover:before{
  border: solid;
  border-color: rgba(0,0,0,.8) transparent;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  top: 7.5rem;
  content: "";
  position: absolute;
  z-index: 99;
	pointer-events: none;
	left: 3rem;
}

#email.nottouch:hover:after {
	width: 14rem;
	left: calc(3.5rem - 0.5 * 14rem); /* 3.5rem (aka width of parent) - 0.5*width of this */
}

#linkedin.nottouch:hover:after {
	width: 7.5rem;
	left: calc(3.5rem - 0.5 * 7.5rem);
}

#github.nottouch:hover:after {
	width: 9.5rem;
	left: calc(3.5rem - 0.5 * 9.5rem);
}

#resume.nottouch:hover:after {
	width: 6.25rem;
	left: calc(3.5rem - 0.5 * 6.25rem);
}

#copyright {
	background-color: rgb(35, 35, 35);
	color: rgb(88, 88, 88);
	font-size: 0.9em;
	text-align: center;
	padding-top: 1.4em;
	padding-bottom: 1.4em;
}


/* ===== REUSABLE CONFIGURATIONS ===== */

.vcenter-out {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.vcenter-mid {
	display: table-cell;
	vertical-align: middle;
}

.vcenter-inn {
	margin-left: auto;
	margin-right: auto;
}

.nomargin { margin: 0 !important; }
