/* ===== GLOBALS ===== */

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

#content-wrapper {
  position: relative;
  background: #ffffff;
}


/* ===== HEADER/NAV ===== */

#navbar {
  z-index: 222;
  height: 5em;
  position: fixed;
  width: 100%;
  border-bottom: solid 1px white;
}

#nav-links {
  float: right;
  margin-right: 2em;
}

#nav-links a {
  margin-right: 1em;
  margin-left: 1em;
  color: white;
  text-decoration: none;
}

#navbar .nav {

}

/* ===== SPLASH ===== */

#splash {
	background: transparent;
}

#splash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

#splash-content {
	color: white;
	text-align: center;
}

#splash-content h1 {
	font-size: 3em;
	letter-spacing: 0.3px;
	margin-bottom: 0.1em;
}

#splash-content h2 {
	font-size: 1.5em;
	letter-spacing: 0.3px;
}

/* ===== CONTENT SECTIONS ===== */

#about {
	margin-top: 2em;;
	text-align: center;
}

/* ===== REUSABLE CONFIGURATIONS ===== */


.vcenter-out {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.vcenter-mid {
	display: table-cell;
	vertical-align: middle;
}

.vcenter-inn {
	margin-left: auto;
	margin-right: auto;
}
